{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container landing-img">        
        <div class="row" id="landing-page">
            <div class="col-7 col-md-6 my-auto ml-5">
                <h1 class="display-4 logo-font text-black" style="color: #111;">
                    Explore the entire collection!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'shop' %}" class="shop-now-button btn-lg text-uppercase py-3" style="color: #111;">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <br>    
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators"> 
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> 
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li> 
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> 
                    </ol> <div class="carousel-inner" role="listbox"> 
                    <div class="carousel-item active"> 
                        <div class="img thumbnail">
                            <img class="d-block img-fluid" src="{% static 'images/it-just-uni-socks-landing-page.jpg' %}" alt="First slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block"> 
                            <h3 style="color: #e60023;">Now on Sale!</h3>
                            <p>Check out one of our best sellers...</p> 
                        </div>  
                    </div> 
                    <div class="carousel-item"> 
                        <div class="img thumbnail">
                            <img class="d-block img-fluid" src="{% static 'images/landing-page-uni-socks.jpg' %}" alt="Second slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block"> 
                            <h3 style="color: #e60023;">Unique!</h3>
                            <p>Check out the new collection now</p> 
                        </div>                            
                    </div> 
                    <div class="carousel-item"> 
                        <div class="img thumbnail">
                            <img class="d-block img-fluid" src="{% static 'images/socks-landing-page.jpg' %}" alt="Third slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block"> 
                            <h3 style="color: #e60023;" >Just Because!</h3>
                            <p>The third pair is for free...</p> 
                        </div>  
                    </div> 
                 
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> 
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                        <span class="sr-only">Previous</span> 
                    </a> 
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> 
                        <span class="carousel-control-next-icon" aria-hidden="true"></span> 
                        <span class="sr-only">Next</span> 
                    </a> 
                </div>
            </div>
        </div>
    </div>    
        <div class="col-lg-6">
            <div class="box-element">
                <h4 class="logo-font text-black text-center">About Us...</h4>
                <hr
                      class="mb-4 mt-0 text-center mx-auto"
                      style="width: 60px; background-color: #e60023; height: 2px"
                      />
                  <p>
                <p class="text-align-justify">                    
                    Hello fellow sock Lovers! We are Rachel and Ana and we want to thank you for visiting our website.<br>
                    We believe in the expression of originality and fullfilment.                    
                    It is a belief that underpins all our processes as we work to serve you, 
                    bringing happiness your way with premium socks.
                    <br>                    
                    "It-Just-Uni-Socks" offers quality socks designed with comfort and style for every occassion,
                    skate, snow, or casual wear.
                    <br> 
                    Giving you a wide selection of vibrant colors, 
                    textures, patterns and class-leading quality to complement their existing environment.                    
                </p>                    
            </div>
        </div>    
    <br>   
{% endblock %}