{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container landing-img">        
        <div class="row" id="landing-page">
            <div class="col-7 col-md-6 my-auto ml-5">
                <h1 class="display-4 logo-font text-black" style="color: #0f093f;">
                    Explore the entire collection!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn-lg text-uppercase py-3" style="color: #0f093f;">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <br>    
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="box-element">
                <h4 class="logo-font text-black text-center">About Us...</h4>
                <p class="text-center">                    
                    Hello fellow sock Lovers! We are Rachel and Ana and we want to thank you for visiting our website.<br>
                    We believe in the expression of originality and fullfilment. 
                    It is a belief that underpins all our processes as we work to serve you, 
                    bringing happiness your way with premium socks.<br>
                    It-Just-Uni-Socks offers quality socks designed with comfort and style for every occassion,
                    skate, snow, or casual wear. Giving our you a wide selection of vibrant colors, 
                    textures, patterns and class-leading quality to complement their existing environment.                    
                </p>                    
            </div>
        </div>
    </div>
    <br>   
{% endblock %}