{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container fixed" id="landing-page">
        <div class="row">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black" style="color: #0f093f;">
                    Explore the entire collection!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn-lg text-uppercase py-3" style="color: #0f093f;">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="py-24 lm-container text-center">
        <div class="max-w-md mx-auto">
            <h2 class="logo-font text-black text-center">
                Who we are...
            </h2>
        </div>
        <br>
        <div class="max-w-md mx-auto">
            <div class="row">
                <p>
                    HELLO DEAR SOCK LOVERS! WE ARE RACHEL AND ANA...<br>
                    WE BELIEVE IN THE EXPRESSION OF ORIGINALITY AND FULFILLMENT. 
                    IT IS A BELIEF THAT UNDERPINS ALL OUR PROCESSES AS WE WORK TO SERVE YOU, 
                    BRINGING HAPPINESS YOUR WAY WITH PREMIUM SOCKS.<br>
                    It-Just-Uni-Socks OFFERS QUALITY SOCKS DESIGNED WITH COMFORT AND STYLE FOR EVERY OCCASSION,
                    skate, snow, or casual wear. GIVING OUR CUSTOMERS A WIDE SELECTION OF VIBRANT COLORS, 
                    TEXTURES, PATTERNS, AND CLASS_LEADING QUALITY TO COMPLEMENT THEIR EXISTING ENVIRONMENT.                    
                </p>
            </div>
        </div>
    </div>    
{% endblock %}